@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    margin: 10% 6.3% 10% 6.3%;
    background-color: #31343D;
    font-family: 'Montserrat', sans-serif;
}

header {
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
}